<h2>{{title}}</h2>
<nav>
  <a routerLink="/dashboard">Search</a>
  <a routerLink="/linesOfBusiness">View All Lines Of Business</a>
  
  <!-- ? I think i need to add a component here? -->
  <!-- ? bc a) under search and all lines of business; b) on every page -->
  <!-- ? imagining that it could be a div, and it's going to have some properties or attributes that access the component
  or the component might be rendered in the element using curly brackets -->
  <div> is my cool info going to go here?</div>
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>
