<h2>{{title}}</h2>
<nav>
  <a routerLink="/dashboard">Search</a>
  <a routerLink="/linesOfBusiness">View All Lines Of Business</a>
  
  <!-- ? I think i need to add a component here? -->
  <!-- ? bc a) under search and all lines of business; b) on every page -->
  <!-- ? imagining that it could be a div, and it's going to have some properties or attributes that access the component
  or the component might be rendered in the element using curly brackets -->
  <!-- or maybe within the dashboard, since that is rendered in the nav? or in linesOfBusiness? -->
  <!-- in order to see my component, I can use my CSS selector 
  ?but I still think it might make more sense to render it elsewhere, within another component-->
  <app-popular></app-popular>
</nav>



<router-outlet></router-outlet>
<app-messages></app-messages>
